#container {
	position: relative;
	background-color: ##f3f3f3 ;
	padding: 0.2%;
	width: 873px;
	height: 649px;
	margin: 8% ;
	border: 1px solid ;
	margin-left: 10%;
	box-shadow: 1px 1px 20px 7px #5c5c5c;
	font-family: serif, sans-serif;
	transition: transform .1s;
	
}

#logo {
	width: 20% ;
	height: 20px ;
	display: inline-block;
}
#buttons {

	margin-left: 519px;
	width: 20%;
	height : 20px;
	text-align: center;
	display: inline-block;
}

#image1 {
	    padding: 11.7px 11.7px 0px 11.7px;
	}
#image {
	padding: 11.7px;
	background-image: url(header.PNG);
	background-repeat: no-repeat;
	width: 860px;
	height: 60px;
}
#blockscontainer {
	margin-left: 21px;
	width: 100% ;
	height: 70px;
	padding: 2px;

}
#block1 {  0
		background-color: #efefef;
	border:0.5px solid #b7b7b7 ;
	width: 100px ;
	height: 67px;
	display: inline-block;
}
#block2 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 67px;
	display: inline-block;
}
#block3 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 67px;
	display: inline-block;
}
#block4 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 67px;
	display: inline-block;
}
#block5 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 67px;
	display: inline-block;
}
#block6 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 67px;
	display: inline-block;
}
#block7 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 67px;
	display: inline-block;
}
#block8 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 67px;
	display: inline-block;
}
#blockscontainer1 {
	margin-left: 21px;
	width: 100% ;
	height: 18px;
	padding: 2px;

}
#block_1 { 
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block_2 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block_3 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block_4 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block_5 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block_6 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block_7 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block_8 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#com {
	font-size: 12px;
	margin-left: 24px;
	font-size: 12px;
}

#blockscontainer2 {
	margin-left: 21px;
	width: 100%;
	height: 18px;
	padding: 2px;

}
#block-1 { 
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block-2 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block-3 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block-4 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block-5 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block-6 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block-7 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#block-8 {
	background-color: #efefef;
	border:0.5px solid #b7b7b7;
	width: 100px ;
	height: 15px;
	display: inline-block;
}
#data {
	margin-left: 21px;
	margin-top: 8px;
	width: 20% ;
	height: 30px;
	display: inline-block;
}
#log {
	font-size: 13px;
	margin-top: 5px;
	text-align: center;
	box-shadow: 0px 0px 1px 0px;
	width: 42px;
	margin-left: 2px;
	display: inline-block;

}
#Options {
	font-size: 13px;
	margin-top: 5px;
	text-align: center;
	box-shadow: 0px 0px 1px 0px;
	width: 60px;
	display: inline-block;

}
#Pit {
	font-size: 13px;
	margin-top: 5px;
	text-align: center;
	box-shadow: 0px 0px 1px 0px;
	width: 42px;
	display: inline-block;

}
#input {
	border: 1px solid #e3e3e3;
    width: 299px;
    height: 304px;
    margin-left: 21px;
    box-shadow:	inset 0px 0px 6px 0px;
    position:absolute;

}
#textare {
	width: 100% ;
	height: 340px;
}
#text1 {
	margin-top: 15px;
	width: auto;
	height: 80px ;
    margin-right: 122px;
    font-size: 11.2px;
    float: right;
	display: inline-block;
	position: relative;
}
#checkbox_items {
	margin-left: 40%;

}
#flex_buttons {
	width: 90px ;
	height: 27px;
}
#text_length {
	width: 392px;
	height: 22px;
}
#checkbox_element {
	height: 38px;
}
#checkbox_element1 {
	height: 96px;
}
#extrabutton {
	margin-left: 80% ;
}
#line {
	margin-left: 40%;
	color: #cbcbcb ;
}
#last_buttons {
	width: auto;
	margin-left: 50% ;
	margin-top: 10px;
}
#last_buttons_items {
	display: inline-block;
	width: 141px ;
	height: 27px;
}
#last_buttons_1 {
	width: 115px;
	height: 31px;
}
#credit_text {
	font-size: 12px;
	margin-top: 10px ;
	margin-left: 10px;
}
last_buttons: hover {
	background-color: blue;
}
#credit {
	box-shadow: 0px 0px 12px 2px;
	width: 40%;
	height: 20px;
	margin-left: 250px;
	text-align: center;
	background-color: white;

}
.credit {
	transition: transform .1s;
}
.credit:hover {
	 transform: scale(1.1); 
}
.last_button_item:hover {
	 transform: scale(1);
	background-color: #e5f1fb ;
	border: 1px solid #0078d7 ;
}
.txtbox:hover {
	transform: scale(1);
	border: 1px solid black ;
}
